<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blogs</title>
</head>
<body>
    {{>navbar}}
    <h1>My Blogs</h1>
    <form action="/addblog" method="post">
        <input type="text" name="title" placeholder="Enter Title">
        <input type="text" name="description" placeholder="Enter Description">
        <button type="submit">Add Blog</button>
    </form>

    {{#each blogs as |blog|}}
        <div class="blogs" style="border: 1px solid black; margin: 10px">
            <h3>{{blog.title}}</h2>
            <p>{{blog.description}}</p>
            <p>{{blog.author_id.name}}</p>
            <p>{{blog.author_id.age}}</p>
            <button><a href="/deleteblog?id={{blog.id}}">Delete Blog</a></button>
            <button><a href="/updateblog?id={{blog.id}}">Update Blog</a></button>
        </div>
    {{/each}}
</body>
</html>